<%= form_for(:photo_links, :url => {:action => 'import'}) do |f| %>
	<% if @pics.count < 1 %>
		No Photos Present in the Album
	<% else %>
		<% @pics.each do |data| %>
			<span class="images_cls" id=<%= "pic_"+data['id']%>>
				<%= f.check_box data['images'][0]["source"] %> 
				<a href=<%= data['images'][0]["source"] %>>
					<%= image_tag("#{data['images'][0]["source"]}", class: "style_image") %> 
				</a>
			</span>
		<% end %>
		<br/>
		<br/>
		<p style="text-align: center;">
		    <button class="link_btn"><h3>IMPORT</h3></button></tr>
		</p>
	<% end %>
<% end %>